
<h1>Bienvenido {{user.first_name}} {{user.last_name}}</h1>

<h3>Product List</h3>

{{#each products}}
<!-- Por el momento ahi le puse solo this porque no me deja entrar a los valores this.title, despues lo soluciono -->
<p> Producto : {{this}}</p>
{{/each}}


<!--<script src="/js/products.js"></script>-->